html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/*Layout*/
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 11rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  margin: 0rem 2.5rem;
}

.main {
  grid-area: main;
  padding: 1rem;
}

/*Common*/
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
button,
input,
select,
textarea {
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.1rem rgb(197, 195, 195);
  background-color: rgb(233, 233, 233);
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button:hover {
  border: 0.1rem gray;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}

/*Header*/
header a {
  color: black;
  padding: 1rem;
}
a.brand {
  color: black;
  font-size: 8rem;
  font-weight: 300;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
  margin: 0.5rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

/*images*/
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 95%;
  margin: 0.5rem;
}
/*card*/
.card {
  border: 0.1rem gray;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/*Rating*/
.rating span {
  color: gray;
  margin: 0.1rem;
}

/*Alert*/
.success {
  color: green;
}
.error {
  color: red;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #e0e0ff;
}

/*Persona*/
.h1persona {
  font-size: 3.5rem;
  font-weight: 300;
}
.aPersona {
  text-decoration: underline;
}
.persona {
  max-width: 58rem;
  width: 100%;
}
.textOver {
  position: absolute;
  width: 75%;
  background-color: white;
  transform: translate(-50%, -50%);
  top: 92%;
  left: 58%;
  font-size: 5rem;
  font-weight: 100;
}

/* Reassure*/
.reaBackground {
  background-color: #f8f8f8;
  padding: 6rem;
  margin: 2rem 0rem;
}
.reaCart {
  padding: 2rem;
  width: 33rem;
}
.reaTitle {
  font-size: 2rem;
  font-weight: 300;
}
.reaIcon {
  font-size: 5rem;
  padding: 2rem;
}
/*Footer*/
.footer {
  margin-top: 3rem;
  background-color: black;
  color: white;
  padding: 5rem;
}
.fgrid {
  padding: 0rem 7rem;
}
.finput {
  background-color: transparent;
  border: thin;

  text-decoration: underline;
  color: white;
  width: 42rem;
  padding-left: 0rem;
}
.footer i {
  font-size: 2rem;
  padding-right: 4rem;
  cursor: pointer;
}
.footer p {
  font-size: 1.2rem;
  color: gray;
  margin-block-start: 0rem;
}
.f {
  margin-top: 10rem;
  font-size: 1.5rem;
}
